.images-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  padding: 20px;
}

.image-box {
  position: relative;
  width: 100%;
  max-width: 300px;
  height: 220px;
  border-radius: 10px;
  overflow: hidden;
  flex: 1 1 calc(33.333% - 20px); // 3 per row default

  .portfolio-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }

  .content {
    position: absolute;
    width: 100%;
    padding: 10px;
    background: linear-gradient(to top, #0a192f 80%, rgba(10, 25, 47, 0.5));
    bottom: 0;
    z-index: 2;
    transition: transform 0.3s;
    transform: translateY(100%);
  }

  &:hover .content {
    transform: translateY(0);
  }
}

// Tablet (iPads)
@media screen and (max-width: 1024px) {
  .image-box {
    flex: 1 1 calc(45% - 20px); // 2 per row
    height: 200px;
  }
}

// Phones
@media screen and (max-width: 700px) {
  .portfolio-page {
    padding: 10px !important;

    h1.page-title {
      margin: 20px 0;
      font-size: 36px;
    }
  }

  .images-container {
    flex-direction: column;
    align-items: center;
  }

  .image-box {
    width: 90%;
    max-width: none;
    height: 180px;
    flex: 1 1 100%;

    .title,
    .description {
      font-size: 14px;
      line-height: 18px;
    }

    .btn {
      font-size: 12px;
      height: 36px;
      padding: 0 18px;
    }
  }
}
