.resume-page {
  height: 100%;
  overflow: auto;
  color: #bfdbfe;
  position: relative; // Ensure relative positioning for child elements
  width: 100%;
  box-sizing: border-box;

  @media screen and (min-width: 769px) {
    padding-left: 100px;
    padding-right: 50px;
    width: calc(100% - 150px);
  }

  .title-and-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
    width: 100%; // Full width on smaller screens
    box-sizing: border-box;

    @media screen and (min-width: 769px) {
      margin-left: 100px;
      padding-left: 10px;
      width: 80%; // control width for better spacing
      padding-top: 100px;
    }
  }

  h1.page-title {
    font-size: 36px;
    font-family: 'Coolvetica';
    font-weight: 400;
    margin: 0;

    @media screen and (min-width: 769px) {
        font-size: 50px;
      }
  }

  .download-btn {
    padding: 8px 20px;
    border: 2px solid #bfdbfe;
    border-radius: 5px;
    background-color: transparent;
    color: #bfdbfe;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 18px;
    cursor: pointer;
    transition: all 0.3s ease;
    text-decoration: none;
    margin-top: 10px; // Add a bit of space between title and button on smaller screens

    &:hover {
      background-color: #bfdbfe;
      color: #0a192f;
    }

    @media screen and (min-width: 769px) {
      font-size: 24px; // match the visual size of the title
      margin-top: 0;
      padding: 10px 25px;
    }
  }

  .resume-content {
    display: flex;
    justify-content: center;
    width: 100%;
    box-sizing: border-box;
    padding-bottom: 50px;

    @media screen and (min-width: 769px) {
      padding-bottom: 100px;
    }
  
    .resume-image {
      width: 100%;
      max-width: 1000px; // or 1200px if you want it bigger
      height: auto;
      margin-left: -70px;
      border: 2px solid #bfdbfe;
      border-radius: 8px;
      margin-top: 40px;
      box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
      object-fit: contain; // maintain aspect ratio
    }
  }
}

@media screen and (max-width: 768px) {
  .resume-page {
    padding: 0 25px;
    margin-top: 20px;
    justify-items: center;

    .title-and-button {
      display: flex;
      justify-content: space-between;
      flex-direction: row;
      padding-top: 30px;
      padding-bottom: 30px;
      width: 100%;
    }

    h1.page-title {
      text-align: center;
      font-size: 23px;
      margin-bottom: 15px;
    }

    .download-btn {
      width: auto;
      padding: 10px 20px;
      max-width: none;
      margin-top: 0;
      font-size: 10px;
    }

    .resume-content {
      padding-bottom: 50px;

      .resume-image {
        margin-left: 0; 
        width: 100%;
        max-width: 100%;
      }
    }
  }
}