body {
  cursor: none;
}

.home-page {
  .text-zone {
    position: absolute;
    left: 10%;
    top: 50%;
    transform: translateY(-50%);
    width: 40%;
    max-height: 90%;
  }

  h1 {
    color: #fff;
    font-size: 53px;
    margin: 0;
    font-family: 'Coolvetica';
    font-weight: 400;
    cursor: pointer;

    &::before {
      content: '<h1>';
      color: #bfdbfe;
      font-size: 18px;
      position: absolute;
      margin-top: -40px;
      left: 15px;
      opacity: 0.6;
    }

    &::after {
      content: '<h1/>';
      color: #bfdbfe;
      font-size: 18px;
      position: absolute;
      margin-top: 18px;
      left: 20px;
      animation: fadeIn 1s 1.7s backwards;
      opacity: 0.6;
    }

    img {
      width: 80px;
      margin-left: 20px;
      margin-right: 3px;
      opacity: 0;
      height: auto;
      animation: rotateIn 1s linear both;
      animation-delay: 1.4s;
    }
  }

  #typed {
    font-size: 1.25rem;
    color: #bfdbfe;
    line-height: 1.25;
    animation: fadeIn 1s 1.8s backwards;

    @media (min-width: 768px) {
      font-size: 1.875rem;
    }
  }

  .flat-button {
    color: #0073ff;
    font-size: 15px;
    font-weight: 800;
    letter-spacing: 4px;
    text-decoration: none;
    padding: 10px 18px;
    border: 2px solid #bfdbfe;
    margin-top: 25px;
    float: left;
    animation: fadeIn 1s 1.8s backwards;
    white-space: nowrap;

    &:hover {
      background: #bfdbfe;
      color: #333;
    }
  }
}

@media screen and (max-width: 1200px) {
  .home-page {
    .text-zone {
      position: initial;
      width: 100%;
      transform: none;
      padding: 10px;
      box-sizing: border-box;
      display: inline-block;
      text-align: left;
    }

    .flat-button {
      float: none;
      display: block;
      width: 125px;
      margin: 20px auto 0 auto;
    }
  }
}
